<html>
<head>
<title>Gyazo Private</title>
</head>
<body>
<ul>
  <li><a href="gyazowin.exe">Gyazo Private for Windows</a></li>
  <li><a href="gyazomac.zip">Gyazo Private for Mac</a></li>
  <li><a href="gyazolinux.zip">Gyazo Private for Linux</a></li>
</ul>
</body>
</html>
