<html>
<head>
<title>Private Gyazo</title>
</head>
<body>
<ul>
  <li><a href="gyazowin.exe">Private Gyazo for Windows</a></li>
  <li><a href="gyazomac.dmg">Private Gyazo for Mac</a></li>
  <li><a href="gyazo">Private Gyazo for Linux</a></li>
</ul>
</body>
</html>
