<html>
<head>
<title>Private Gyazo</title>
</head>
<body>
<ul>
  <li><a href="gyazowin.exe">Private Gyazo for Windows</a></li>
  <li><a href="gyazomac.zip">Private Gyazo for Mac</a></li>
  <li><a href="gyazo">Private Gyazo for Linux</a></li>
</ul>
<address><a href="https://github.com/hogelog/private-gyazo-kit">https://github.com/hogelog/private-gyazo-kit</a></address>
</body>
</html>
